<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="row">
          <div class="c-form box-shadow was-validated">
            <ul>
              <li class="title">情報確認</li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">アカウント名:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.employeeLoginId }}
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">グループ:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.departmentName }}
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">氏名:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.employeeName }}
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">カタカナ氏名:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.employeeNameKana }}
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">生年月日:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.employeeBirthDate | date : "yyyy/MM/dd" }}
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">メールアドレス:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.employeeEmail }}
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">電話番号:</label>
                <div class="col-sm col-sm-10">
                  {{ employeeData?.employeeTelephone }}
                </div>
              </li>
              <li class="title mt-12">日本語能力</li>
              <div *ngIf="employeeData?.certifications?.length > 0; else noCert">
                <div *ngFor="let cer of employeeData?.certifications">
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">資格:</label>
                    <div class="col-sm col-sm-10">
                      {{ cer.certificationName }}
                    </div>
                  </li>
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">資格交付日:</label>
                    <div class="col-sm col-sm-10">
                      {{ cer.startDate | date : "yyyy/MM/dd" }}
                    </div>
                  </li>
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">失効日:</label>
                    <div class="col-sm col-sm-10">
                      {{ cer.endDate | date : "yyyy/MM/dd" }}
                    </div>
                  </li>
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">点数:</label>
                    <div class="col-sm col-sm-10">{{ cer.score }}</div>
                  </li>
                </div>
              </div>
              <li class="form-group row d-flex">
                <div class="btn-group col-sm col-sm-10 ml">
                  <button type="button" class="btn btn-primary btn-sm" (click)="handleEdit()">
                    編集
                  </button>
                  <!-- Nút xóa -->
                  <button type="button" class="btn btn-secondary btn-sm" (click)="openConfirmModal(confirmTemplate)">
                    削除
                  </button>

                  <ng-template #confirmTemplate>
                    <div class="modal-overlay">
                      <div class="modal-container">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">確認</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            {{ MSG['MSG004']}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-confirm" (click)="handleDelete()">OK</button>
                            <button type="button" class="btn btn-cancel" (click)="modalRef.hide()">戻る</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>


                  <button type="button" class="btn btn-secondary btn-sm" (click)="hanleBack()">
                    戻る
                  </button>
                </div>
              </li>

              <ng-template #noCert>
                <div class="form-group">
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">資格:</label>
                    <div class="col-sm col-sm-10"></div>
                  </li>
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">資格交付日:</label>
                    <div class="col-sm col-sm-10"></div>
                  </li>
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">失効日:</label>
                    <div class="col-sm col-sm-10"></div>
                  </li>
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">点数:</label>
                  </li>
                </div>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>