<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="row">
          <form
            [formGroup]="employeeForm"
            class="c-form box-shadow was-validated"
          >
            <ul>
              <li class="title">会員情報編集</li>
              <li class="box-err">
                <div class="box-err-content">Hiển thị lỗi chung lại đây</div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >アカウント名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeLoginId"
                  />
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >グループ:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <select
                    class="form-control"
                    formControlName="departmentId"
                    name="departmentSelect"
                  >
                    <option value="">選択してください</option>
                    <option
                      *ngFor="let dept of listDepartments"
                      [value]="dept.departmentId"
                    >
                      {{ dept.departmentName }}
                    </option>
                  </select>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeName"
                  />
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >カタカナ氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeNameKana"
                    required=""
                  />
                  <div class="invalid-feedback">
                    Example invalid form file feedback
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">
                  <i class="relative"
                    >生年月日:<span class="note-red">*</span></i
                  >
                </label>
                <div class="col-sm col-sm-10 d-flex">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="text"
                      bsDatepicker
                      [bsConfig]="{
                        dateInputFormat: 'YYYY/MM/DD',
                        containerClass: 'theme-green'
                      }"
                      formControlName="employeeBirthDate"
                      readonly
                      #birthDate="bsDatepicker"
                    />
                    <span
                      class="input-group-addon"
                      (click)="birthDate.toggle()"
                      style="cursor: pointer"
                    >
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </div>
                </div>
              </li>

              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >メールアドレス:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeEmail"
                  />
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >電話番号:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeTelephone"
                  />
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >パスワード:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeLoginPassword"
                  />
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative">パスワード（確認）:</i></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="employeeReLoginPassword"
                  />
                </div>
              </li>
              <li class="title mt-12">日本語能力</li>
              <div formArrayName="certifications">
                <div
                  *ngFor="let cert of certifications.controls; let i = index"
                  [formGroupName]="i"
                >
                  <!-- Select chứng chỉ -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2"
                      ><i class="relative">資格:</i></label
                    >
                    <div class="col-sm col-sm-10">
                      <select
                        class="form-control"
                        formControlName="certificationId"
                        name="certificationSelect"
                        (change)="handleChangeCertificationId(i)"
                      >
                        <option value="">選択してください</option>
                        <option
                          *ngFor="let cer of listCertifications"
                          [value]="cer.certificationId"
                        >
                          {{ cer.certificationName }}
                        </option>
                      </select>
                    </div>
                  </li>

                  <!-- Ngày bắt đầu -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">
                      <i class="relative"
                        >資格交付日:<span *ngIf="isRequired(i)" class="note-red"
                          >*</span
                        ></i
                      >
                    </label>
                    <div class="col-sm col-sm-10 d-flex">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="text"
                          bsDatepicker
                          [bsConfig]="{
                            dateInputFormat: 'YYYY/MM/DD',
                            containerClass: 'theme-green'
                          }"
                          formControlName="certificationStartDate"
                          [readonly]="true"
                          [disabled]="!isCertSelected(i)"
                          #startDate="bsDatepicker"
                        />
                        <span
                          class="input-group-addon"
                          (click)="startDate.toggle()"
                          style="cursor: pointer"
                        >
                          <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </li>

                  <!-- Ngày hết hạn -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">
                      <i class="relative"
                        >失効日:<span *ngIf="isRequired(i)" class="note-red"
                          >*</span
                        ></i
                      >
                    </label>
                    <div class="col-sm col-sm-10 d-flex">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="text"
                          bsDatepicker
                          [bsConfig]="{
                            dateInputFormat: 'YYYY/MM/DD',
                            containerClass: 'theme-green'
                          }"
                          formControlName="certificationEndDate"
                          [readonly]="true"
                          [disabled]="!isCertSelected(i)"
                          #endDate="bsDatepicker"
                        />
                        <span
                          class="input-group-addon"
                          (click)="endDate.toggle()"
                          style="cursor: pointer"
                        >
                          <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </li>

                  <!-- Điểm số -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2"
                      ><i class="relative"
                        >点数:<span *ngIf="isRequired(i)" class="note-red"
                          >*</span
                        ></i
                      ></label
                    >
                    <div class="col-sm col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="employeeCertificationScore"
                        [disabled]="!isCertSelected(i)"
                      />
                    </div>
                  </li>
                </div>
              </div>

              <li class="form-group row d-flex">
                <div class="btn-group col-sm col-sm-10 ml">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    onclick="location.href = './ADM005.html';return false;"
                  >
                    確認
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    (click)="hanleBack()"
                  >
                    戻る
                  </button>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
