<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="row">
          <form [formGroup]="employeeForm" class="c-form box-shadow was-validated">
            <ul>
              <li class="title">会員情報編集</li>
              <li *ngIf="generalErrorMessage" class="box-err">
                <div class="box-err-content">{{ generalErrorMessage }}</div>
              </li>

              <!-- アカウント名: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">アカウント名:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input #firstInput type="text" class="form-control" formControlName="employeeLoginId"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeLoginId'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeLoginId'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeLoginId'), 'アカウント名') }}
                  </div>
                </div>
              </li>

              <!-- グループ: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">グループ:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <select class="form-control" formControlName="departmentId" name="departmentSelect"
                    (change)="handleChangeDepartmentId($event)"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('departmentId'))">
                    <option value="">選択してください</option>
                    <option *ngFor="let dept of listDepartments" [value]="dept.departmentId">
                      {{ dept.departmentName }}
                    </option>
                  </select>
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('departmentId'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('departmentId'), 'グループ:') }}
                  </div>
                </div>
              </li>

              <!-- 氏名: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">氏名:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control" formControlName="employeeName"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeName'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeName'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeName'), '氏名:') }}
                  </div>
                </div>
              </li>

              <!-- カタカナ氏名: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">カタカナ氏名:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control" formControlName="employeeNameKana"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeNameKana'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeNameKana'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeNameKana'), 'カタカナ氏名:') }}
                  </div>
                </div>
              </li>

              <!-- 生年月日: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2">
                  <i class="relative">生年月日:<span class="note-red">*</span></i>
                </label>
                <div class="col-sm col-sm-10 d-flex">
                  <div class="input-group">
                    <input class="form-control" type="text" readonly bsDatepicker [bsConfig]="{
                        dateInputFormat: 'YYYY/MM/DD',
                        containerClass: 'theme-green'
                      }" formControlName="employeeBirthDate" #birthDate="bsDatepicker"
                      [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeBirthDate'))" />
                    <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeBirthDate'))"
                      class="invalid-feedback">
                      {{ validationService.getErrorMessage(employeeForm.get('employeeBirthDate'), '生年月日:') }}
                    </div>
                    <span class="input-group-addon" (click)="birthDate.toggle()" style="cursor: pointer">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </div>
                </div>
              </li>

              <!-- メールアドレス: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">メールアドレス:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control" formControlName="employeeEmail"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeEmail'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeEmail'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeEmail'), 'メールアドレス:') }}
                  </div>
                </div>
              </li>

              <!-- 電話番号: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">電話番号:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control" formControlName="employeeTelephone"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeTelephone'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeTelephone'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeTelephone'), '電話番号:') }}
                  </div>
                </div>
              </li>

              <!-- パスワード: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">パスワード:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control" formControlName="employeeLoginPassword"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeLoginPassword'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeLoginPassword'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeLoginPassword'), 'パスワード:', 8, 50) }}
                  </div>
                </div>
              </li>

              <!-- パスワード（確認）: -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"><i class="relative">パスワード（確認）:<span
                      class="note-red">*</span></i></label>
                <div class="col-sm col-sm-10">
                  <input type="text" class="form-control" formControlName="employeeReLoginPassword"
                    [class.is-invalid]="validationService.shouldShowError(employeeForm.get('employeeReLoginPassword'))" />
                  <div *ngIf="validationService.shouldShowError(employeeForm.get('employeeReLoginPassword'))"
                    class="invalid-feedback">
                    {{ validationService.getErrorMessage(employeeForm.get('employeeReLoginPassword'), 'パスワード（確認）:') }}
                  </div>
                  <div
                    *ngIf="employeeForm.errors?.['passwordNotMatch'] && employeeForm.get('employeeReLoginPassword')?.dirty"
                    class="invalid-feedback">
                    {{ ERROR_MESSAGES[ERROR_CODES.PASSWORD_MISMATCH]('パスワード（確認）:') }}
                  </div>

                </div>
              </li>

              <li class="title mt-12">日本語能力</li>

              <!-- 日本語能力 -->
              <div formArrayName="certifications">
                <div *ngFor="let cert of certifications.controls; let i = index" [formGroupName]="i">

                  <!-- 資格: -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2"><i class="relative">資格:</i></label>
                    <div class="col-sm col-sm-10">
                      <select class="form-control" formControlName="certificationId" name="certificationSelect"
                        (change)="handleChangeCertificationId(i)">
                        <option value="">選択してください</option>
                        <option *ngFor="let cer of listCertifications" [value]="cer.certificationId">
                          {{ cer.certificationName }}
                        </option>
                      </select>
                    </div>
                  </li>

                  <!-- 資格交付日: -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">
                      <i class="relative">資格交付日:<span *ngIf="isRequired(i)" class="note-red">*</span></i>
                    </label>
                    <div class="col-sm col-sm-10 d-flex">
                      <div class="input-group">
                        <input class="form-control" type="text" bsDatepicker [bsConfig]="{
                            dateInputFormat: 'YYYY/MM/DD',
                            containerClass: 'theme-green'
                          }" formControlName="startDate" [readOnly]="isRequired(i)" [disabled]="!isCertSelected(i)"
                          #startDate="bsDatepicker" />
                        <div *ngIf="validationService.shouldShowError(cert.get('startDate'))" class="invalid-feedback">
                          {{ validationService.getErrorMessage(cert.get('startDate'), '資格交付日:') }}
                        </div>
                        <span class="input-group-addon" (click)="startDate.toggle()" style="cursor: pointer">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </li>

                  <!-- 失効日: -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2">
                      <i class="relative">失効日:<span *ngIf="isRequired(i)" class="note-red">*</span></i>
                    </label>
                    <div class="col-sm col-sm-10 d-flex">
                      <div class="input-group">
                        <input class="form-control" type="text" bsDatepicker [bsConfig]="{
                            dateInputFormat: 'YYYY/MM/DD',
                            containerClass: 'theme-green'
                          }" formControlName="endDate" [readOnly]="isRequired(i)" [disabled]="!isCertSelected(i)"
                          #endDate="bsDatepicker" />
                        <div *ngIf="validationService.shouldShowError(cert.get('endDate'))" class="invalid-feedback">
                          {{ validationService.getErrorMessage(cert.get('endDate'), '失効日:') }}
                        </div>
                        <div *ngIf="cert.errors?.['invalidEndDate'] && cert.get('endDate')?.dirty"
                          class="invalid-feedback">
                          {{ ERROR_MESSAGES[ERROR_CODES.DATE_ORDER_INVALID]() }}
                        </div>
                        <span class="input-group-addon" (click)="endDate.toggle()" style="cursor: pointer">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </li>

                  <!-- 点数: -->
                  <li class="form-group row d-flex">
                    <label class="col-form-label col-sm-2"><i class="relative">点数:<span *ngIf="isRequired(i)"
                          class="note-red">*</span></i></label>
                    <div class="col-sm col-sm-10">
                      <input type="text" class="form-control" formControlName="score" [disabled]="!isCertSelected(i)" />
                      <div *ngIf="validationService.shouldShowError(cert.get('score'))" class="invalid-feedback">
                        {{ validationService.getErrorMessage(cert.get('score'), '点数:') }}
                      </div>
                    </div>
                  </li>
                </div>
              </div>

              <li class="form-group row d-flex">
                <div class="btn-group col-sm col-sm-10 ml">
                  <button type="button" class="btn btn-primary btn-sm" (click)="handleConfirm()">
                    確認
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="hanleBack()">
                    戻る
                  </button>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>